.App {
  text-align: center;
}

input {
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(47, 61, 253);
  transform: .3s;
  cursor: pointer;
  text-align: center;
  height: 5vh;
  width: 25%;
  outline: none;
}

input:focus{
  border-color: rgb(68, 229, 250);
  box-shadow: 0 0 16px 0 rgb(12, 12, 12);
  cursor: pointer;
}

input:hover{
  cursor: pointer;
  background-color: rgb(252, 184, 176);
  transition: 1s;
}

.select {
  border: none;
  font-family: 'Ubuntu';
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.button {
  border: none;
  padding: 15px 45px 15px 45px;
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(98, 206, 248);
  color: rgb(87, 87, 87);
  font-family: 'Farro';
}

@media all and (max-width: 768px) {
  input {
    width: 70%;
  }

  .button {
    width: 35vw;
  }
}